---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $lightGray;
  font: 14px/1.4 $helvetica;
  color: $primaryFontColor;
}

.container {
  margin: 0;
  max-width: 960px;
  padding: 0 25px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $secondaryFontColor;
  font-weight: bold;

  line-height: 1.7;
  margin: .5em 0;
  padding: 0;

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
  }

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  img.float-left {
    margin: 0 15px 8px 0;
  }
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
  .fas {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

input[type=submit],
input[type=text],
input[type=email] {
  border-radius: 8px;
  padding: 6px;
  border: none;
}

input[type=text],
input[type=email] {
  padding-left: 8px;
}

input[type=submit] {
  background-color: #03F;
  color: white;
  font-weight: bold;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.post {
  .date,
  .author {
    font-style: italic;
    color: $gray;
    margin-bottom: 3px;
  }
}

.post-tags {
  .post-tag {
    display: inline-block;
    background: $postTagBgColor;
    padding: 2px .5rem;
    border-radius: 4px;
    margin: .2em .3em;
    color: $postTagFontColor;
  }
}

.posts-by-tags {
  .tag-anchor {
    position: relative;
    top: -$mainNavHeight;
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.float-left {
  float: left;
}



/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  padding-top: 45px;
  padding-left: 5px;
  max-width: 960px;
  margin: auto;

  .container {
      padding: 0;

    .signup-form {
      background-color: $blue;
      padding: 8px;
      text-align: center;
      .headline {
        display: inline-block;
        color: $white;
        font-size: 120%;
      }
      form.vr-signup-form, form.mc-embedded-subscribe-form {
        max-width: none;
        padding-top: 4px;
      }
      div.indicates-required {
	margin-top: 4px;
        font-size: 90%;
      }
      div.vr-field, div.vr-submit, div.mc-field-group, div.mc-submit {
        display: inline-block;
      }
      input[type=submit] {
        font-size: 12pt;
      }
      @include mobile {
        div.vr-submit, div.mc-submit {
          display: block;
        }
      }
      div.vr-notice, div.mce-responses {
        display: block;
      }
      .vr-notice-success, .mce-success-response {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

.masthead {
  padding-top: 20px;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $primaryFontColor;
  cursor: pointer;
  font-family: $helvetica;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  padding-top: 18px;

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.site-description {
  margin: 9px 0;
  color: $grayLightGray;
  font-size: 12px;

  @include mobile {
    margin: 3px 0;
  }
}

#wrapper-main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: $mainNavHeight;
    width: 100%;
    z-index: 200;

    #menu-primary-menu {
      clear: both;
      margin: auto;
      max-width: 960px;

      #menu-button {
        display: none;
      }

      ul {
        display: block;
        padding-left: 20px;
        margin: 0;
        height: $mainNavHeight;
        background-color: $primaryColor;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        list-style-type: none;

        .has-sub:hover > ul.submenu {
          display: block;
        }

        li {
          display: inline-block;
          background-color: $primaryColor;
          position: relative;
          z-index: 100;

          a {
            color: $white;
            cursor: pointer;
            display: block;
            font-size: 13px;
            font-weight: 700;
            height: $mainNavHeight;
            line-height: $mainNavHeight;
            margin: 0;
            padding: 0 1em;
            position: relative;
            text-decoration: none;
            text-shadow: 0 -1px 0 #000000;
            white-space: nowrap;
            border-left: 1px solid #585858;
          }

          ul.submenu {
            display: none;
            margin: 0;
            padding: 0;
            width: 150px;
            position: absolute;
            top: $mainNavHeight;
            left: 0px;

            li {
              display: block;
              float: none;
              margin: 0;
              padding:0;
            }
          }
        }
      }
    }
}

//
// .main
//

#main {
  background-color: $white;
  border-radius: 4px;
  margin: 20px auto 20px auto;
  padding: 5px 20px 20px 20px;

  #main-content {
      display: table-cell;
  }

  .inline-content-ad {
      display: inline-block;
      padding: 10px 0;
      border-top: 1px solid black;

      .adsbygoogle {
          display: block;
      }
  }
  #sidebar-right {
    display: table-cell;
    padding: 20px 0 0 20px;
    vertical-align: top;
    position: relative;
    margin-top: 12px;
    @include mobile {
      display: block;
    }

    .ad.custom::before {
      content: "Advertisement";
      font-size: 60%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -12px);
    }

    #sidebar-right-ad {
      display: table-cell;
      vertical-align: top;
      padding: 40px 0 0 20px;

      .adsbygoogle {
        display: inline-block;
        width: 300px;
        height: 600px;
      }
    }

    #ad-ltb {
      position: relative;
      width: 240px;

      a {
        color: inherit;
      }

      .title {
        font-weight: bold;
      }

      .description {
        font-size: 80%;
      }
    }
  }
}

.posts > .post,
.videos > .video {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child,
.video > .video:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts,
.videos {
    .post,
    .video {
        .date {
          margin: -5px 0 10px;
        }
    }
}

.post, .video {
  color: $secondaryFontColor;
  font-size: 14px;

  h1 {
    font-size: 36px;
    margin-bottom: 0;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .read-more {
    display: block;
    padding-top: 8px;
    text-transform: uppercase;
    font-size: 15px;
  }

  dl.gallery-item {
    float: left;
    margin: 5px;
  }
}

.page {
  .author-profile {
    min-height: 250px;
  }
}

ul.tag-list {
  li {
    padding: 4px 0 4px 0;
    a {
      color: $primaryFontColor;
      .tag {
        text-decoration: underline;
      }
      .badge {
        background: $postTagBgColor;
        border-radius: 3.75em;
        display: inline-block;
        font-size: 0.75em;
        font-weight: 600;
        line-height: 1;
        padding: 0.4em 1.2em;
      }
    }
  }
}

.image-credit {
  font-size: 80%;
  font-style: italic;
}

.google-map,
.youtube-video {
  position: relative;
  padding-bottom: 75%;
  margin-top: 12px;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

.catch {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    td {
      border: 1px solid #dddddd;
      padding: .8em;
      display: table-cell;
    }
    td.label {
      color: inherit;
      text-align: left;
      line-height: 14.7px;
      font-size: 14px;
    }
  }
}

#comments {
    margin-top: 10px;
    border-top: 1px solid #dddddd;

    input, textarea {
        margin-right: 6px;
    }
    .comment-block {
        border: 1px solid $lightGray;
        padding: 5px;
        margin-top: 10px;
        border-radius: 5px;
        .comment-text {
            padding: 5px;
        }
        .comment-meta {
            margin-top: 3px;
            font-style: italic;
        }
    }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;

  .container {
    margin: auto;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
