---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $lightGray;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0;
  max-width: 960px;
  padding: 0 25px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $grayDarkGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  max-width: 960px;
  margin: auto;

  .container {
      padding: 0;
  }
}

.masthead {
  padding-top: 20px;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helvetica;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  padding-top: 18px;
}

.site-description {
  margin: 9px 0;
  color: $grayLightGray;
  font-size: 12px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin: 10px 0;
  font-family: $helveticaNeue;
  font-size: 11px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.main-nav {
  max-width: 960px;
  margin: auto;
  clear: both;

  .menu {
    min-height: 0;
    height: 45px;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #585858;
    background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);

    ul {
      min-height: 0;
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .menu-item li {
      border: 0;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 5;
    }

    a {
      color: $white;
      cursor: pointer;
      display: block;
      font-size: 13px;
      font-weight: 700;
      height: 45px;
      line-height: 45px;
      margin: 0;
      padding: 0 0.9em;
      position: relative;
      text-decoration: none;
      text-shadow: 0 -1px 0 #000000;
      white-space: nowrap;
    }
  }
}

//
// .main
//

#main {
  background-color: $white;
  border-radius: 4px;
  margin: 20px auto 20px auto;
  padding: 5px 20px 20px 20px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  color: $grayDarkGray;
  font-size: 14px;

  h1 {
    font-size: 36px;
    margin-bottom: 0;
  }

  .date {
      margin: -5px 0 10px;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    display: block;
    padding-top: 8px;
    text-transform: uppercase;
    font-size: 15px;
  }

  dl.gallery-item {
    float: left;
    margin: 5px;
  }
}

.catch {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    td {
      border: 1px solid #dddddd;
      padding: .8em;
    }
    .google-map {
      position: relative;
      padding-bottom: 75%;
      overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
