---
---

//
// IMPORTS
//

@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

body {
  background: $lightGray;
  font-family: $helvetica;
  line-height: $lineHeight;
  color: $primaryFontColor;
  font-display: swap;
  min-width: fit-content;

  font-size: $fontSize;
  @include mobile {
    font-size: $fontSize * 1.25;
  }
}

.container {
  margin: 0;
  max-width: $maxPageWidth;
  padding: 0 25px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helveticaNeue;
  color: $secondaryFontColor;
  font-weight: bold;

  line-height: 1.4;
  margin: 0.5em 0;
  padding: 0;
  scroll-margin-top: $mainNavHeight;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $copperRed;
    }
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  color: $gray;
}

.anchor {
  scroll-margin-top: $mainNavHeight;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $copperRed;
    text-decoration: underline;
  }
  .fas {
    color: $primaryColorLight;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="submit"],
input[type="text"],
input[type="email"],
.btn {
  border-radius: 8px;
  padding: 6px;
  border: none;
}

input[type="text"],
input[type="email"] {
  padding-left: 8px;
}

input[type="submit"],
.btn.btn-primary,
.btn.btn-accent {
  background: $primaryColorDark;
  color: $white;
  font-weight: bold;
  cursor: pointer;
}

.btn.btn-secondary {
  padding: 10px;
  background: $secondaryLightBgColor;
  color: $primaryColorLight;
  font-weight: bold;
}

.btn.btn-accent {
  background: $accentColor;
  &:hover {
    color: $white;
  }
}

sup {
  vertical-align: super;
  font-size: .8em;
}

article {
  /**
  * Initialiazing a `footnotes` counter on the wrapper
  */
  counter-reset: footnotes;

  footer {
    padding: 0;
    margin-top: 50px;
    border-top: 1px solid $silver;
    font-size: 0.8em;
    text-align: left;

    /**
    * Highlight target note
    */
    :target {
      padding-top: $mainNavHeight;
      margin-top: -$mainNavHeight;

      span {
        background: $yellow;
      }
    }

    span {
      padding: 2px;
    }
  }

  footer ol {
    padding-left: 20px;
  }

  /**
  * Inline footnotes references
  * 1. Increment the counter at each new reference
  * 2. Reset link styles to make it appear like regular text
  */
  [aria-describedby="footnote-label"] {
    counter-increment: footnotes; /* 1 */
    text-decoration: none; /* 2 */
    color: inherit; /* 2 */
    cursor: default; /* 2 */
    outline: none; /* 2 */
    padding-top: $mainNavHeight;
    margin-top: -$mainNavHeight;
  }

  /**
  * Actual numbered references
  * 1. Display the current state of the counter (e.g. `[1]`)
  * 2. Align text as superscript
  * 3. Make the number smaller (since it's superscript)
  * 4. Slightly offset the number from the text
  * 5. Reset link styles on the number to show it's usable
  */
  [aria-describedby="footnote-label"]::after {
    content: "[" counter(footnotes) "]"; /* 1 */
    vertical-align: super; /* 2 */
    font-size: 0.5em; /* 3 */
    margin-left: 2px; /* 4 */
    color: $spaceCadet; /* 5 */
    text-decoration: underline; /* 5 */
    cursor: pointer; /* 5 */
  }

  /**
  * Resetting the default focused styles on the number
  */
  [aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }

  [aria-label="Back to content"] {
    font-size: 0.8em;
  }

  /**
  * Visually hidden yet accessible content
  */
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    visibility: hidden;
    opacity: 0;
  }
}

figure {
  display: table;
  border: 1px solid $skinnyBorderColor;
  border-radius: 2px;
  margin-bottom: 24px;

  img {
    padding: 4px;
  }

  &.hero {
    border: 0;
    margin-bottom: 24px;

    img {
      padding: 0;
    }

    figcaption {
      margin-top: -5px;
    }
  }

  &.mobile-screenshot, &.tall {
    width: 330px;
  }

  figcaption {
    display: table-caption;
    caption-side: bottom ;
    text-align: center;
    font-size: 0.8em;
    padding: 4px 10%;
    border-top: 1px solid $skinnyBorderColor;
    background-color: $secondaryLightBgColor;

    &.image-credit {
      font-style: italic;
    }
  }
}

.fas,
.fa {
  font-display: swap;
}

.fa-star, .fa-star-half {
  color: $copperRed;
}

.post {
  .date,
  .author {
    font-style: italic;
    color: $gray;
    margin-bottom: 3px;
  }
}

.post-tags {
  .post-tag {
    display: inline-block;
    background: $postTagBgColor;
    padding: 2px 0.5rem;
    border-radius: 4px;
    margin: 0.2em 0.3em 0.2em 0;
    color: $postTagFontColor;
    font-size: 0.9em;

    .fas {
      min-width: 14px;
    }
  }
}

.posts-by-tags {
  .tag-anchor {
    position: relative;
    top: -$mainNavHeight;
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.float-left {
  float: left;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  padding-top: 45px;
  max-width: $maxPageWidth;
  margin: auto;

  .container {
    padding: 0;

    .signup-form {
      background-color: $secondaryLightBgColor;
      padding: 12px;
      text-align: center;
      color: $black;
      .headline {
        display: inline-block;
        color: $black;
        font-size: 1.2em;
        padding-bottom: 6px;
      }
      div.indicates-required {
        margin-top: 4px;
        font-size: 0.9em;
      }
      div.mc-field-group,
      div.mc-submit {
        display: inline-block;
      }
      input {
        font-size: 0.8em;
      }
      @include tablet {
        div.mc-submit {
          display: block;
          margin-top: 4px;
        }
      }
      @include mobile {
        div.mc-field-group {
          display: block;
          margin-top: 4px;
        }
      }
      div.mce-responses {
        display: block;
      }
      .mce-success-response {
        color: $white;
        font-weight: 700;
      }
    }
  }
}

.masthead {
  padding-top: 20px;
  padding-left: 5px;
  border-bottom: 1px solid $silver;

  @include mobile {
    text-align: center;
  }
}

#wrapper-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: $mainNavHeight;
  width: 100%;
  z-index: 200;
  background-color: $mainNavBgColor;

  #menuToggle {
    display: block;
    clear: both;
    margin: auto;
    max-width: $maxPageWidth;

    input {
      @include gt-mobile {
        display: none;
      }
      @include mobile {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;

        &:checked ~ .hamburger span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          position: relative;
          top: -15px;
        }

        &:checked ~ .hamburger span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked ~ .hamburger span:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
          position: relative;
          top: 12px;
          left: 1px;
        }

        /* when hamburger menu is activated */
        &:checked ~ ul.menu {
          transform-origin: -100% 0%;
          transform: translate(100%, 0);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        }
      }
    }

    div.hamburger {
      @include mobile {
        display: inline-block;
        position: relative;
        left: 10px;

        span {
          display: block;
          width: 33px;
          height: 4px;
          margin-bottom: 5px;
          position: relative;
          background: $white;
          border-radius: 3px;
          z-index: 1;

          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;

          &:first-child {
            transform-origin: 0% 0%;
          }

          &:nth-last-child(2) {
            transform-origin: 0% 100%;
          }
        }
      }

      @include gt-mobile {
        display: none;
      }
    }

    .menu-logo {
      display: inline-block;
      height: $mainNavHeight;
      position: relative;
      left: 10px;

      img.nav-logo {
        height: 40px;
        width: 194px;
        position: relative;
        top: 3px;
      }
    }

    @include mobile {
      ul#menu {
        font-size: 1.1em;
      }
    }

    ul.menu {
      background-color: $mainNavBgColor;
      list-style-type: none;
      margin: 0;

      @include touch-device {
        li.has-sub input {
          display: block;
          opacity: 0; /* hide this */
          position: absolute;
          top: 0;
          width: 100%;
          height: $mainNavHeight;
          z-index: 2;

          &:checked ~ ul {
            display: block;
          }
          &:checked ~ ul li {
            display: block;
          }
        }
      }

      @include mobile {
        position: absolute;
        left: -$mainNavMobileWidth;
        width: $mainNavMobileWidth;
        padding: $mainNavMobileTopPadding $mainNavMobileSidePadding;
        -webkit-font-smoothing: antialiased;
        transform: translate(0, 0);

        &.submenu {
          display: none;
        }

        li.has-sub {
          input {
            width: $mainNavMobileWidth;
            top: $mainNavMobileTopPadding + 4;
          }
        }
      }

      @include gt-mobile {
        display: inline-block;
        padding-left: 5px;
        height: $mainNavHeight;
        position: relative;
        top: -11px;

        .has-sub:hover > ul.submenu {
          display: block;
        }

        .has-sub:hover > ul.submenu li {
          display: block;
        }
      }

      li {
        &.highlight {
          background-color: $accentColor;
          &:hover {
            background-color: $accentColor;
          }
        }
        a {
          color: $white;
          cursor: pointer;
          display: block;
          font-weight: 700;
          height: $mainNavHeight;
          line-height: $mainNavHeight;
          margin: 0;
          padding: 0 1em;
          position: relative;
          text-decoration: none;
          text-shadow: 0 -1px 0 $black;
          white-space: nowrap;
        }

        @include mobile {
          padding: 10px 0;
          ul.menu.submenu {
            position: relative;
            top: 0;
            width: $mainNavMobileWidth - $mainNavMobileSidePadding;
            background-color: $primaryColorLight;
          }
        }

        @include gt-mobile {
          display: inline-block;
          height: $mainNavHeight;
          background-color: $mainNavBgColor;
          position: relative;
          z-index: 100;
          vertical-align: middle;
          &:hover {
            background-color: $primaryColorLight;
          }

          &.menu-logo:hover {
            background-color: $mainNavBgColor;
          }

          ul.menu.submenu {
            display: none;
            margin: 0;
            padding: 0;
            width: 150px;
            position: absolute;
            top: $mainNavHeight;

            li {
              display: none;
              float: none;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

//
// .main
//

#main {
  background-color: $white;
  border-radius: 4px;
  margin: 20px auto 20px auto;
  padding: 5px 20px 20px 20px;

  #main-content {
    display: table-cell;
    @include gt-tablet {
      max-width: $maxContentWidth;
    }
    @include tablet {
      width: 100%;
    }
  }

  .ad.custom {
    img {
      border: 0;
    }
  }

  .ads.amz-ads-container {
    .amz-ads-header {
      font-weight: bold;
      font-size: 120%;
      margin: 0.5em 0;
    }

    .amz-ads-iframes {
      display: flex;
      gap: 12px;
    }
  }

  .adsbygoogle {
    max-width: 100%;
    width: 100%;
    height: auto;

  }

  .ad.custom:before,
  .adsbygoogle:before {
    content: "Advertisement";
    font-size: 0.625em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -16px);
  }

  .inline-content-ads {
    padding: 14px 0;
    width: 100%;

    .inline-content-ad {
      display: none;
      position: relative;
      &.mobile {
        @include mobile {
          display: block;
        }
      }
      &.gt-mobile {
        @include gt-mobile {
          display: block;
        }
      }
    }

    .ad.custom {
      width: 100%;
      height: 385px;
      text-align: center;
      margin: 0 auto;
      display: none;
      &.mb {
        height: auto;
        @include mobile {
          margin-top: 24px;
        }
      }
      @include tablet {
        display: inline-block;
      }
    }
  }

  #sidebar-right {
    display: table-cell;
    width: 260px;
    padding: 20px 0 0 20px;
    vertical-align: top;
    position: relative;
    margin-top: 12px;
    @include tablet {
      display: none;
    }

    .ad.custom {
      position: relative;
      height: 426px;

      a {
        color: inherit;
      }

      .title {
        font-weight: bold;
      }

      .description {
        font-size: 0.8em;
      }
    }

    .adsbygoogle {
      margin-top: 20px;
    }
  }
}

#LurePicker {
  @include gt-tablet {
    width: $maxContentWidth;
  }
  padding: 6px;
  background-color: $whiteLightGray;
  .btn {
    cursor: pointer;
  }
  table.lure-list {
    margin-top: 8px;
  }
}

.related-pages-container {
  border-top: 1px solid $silver;
  margin-top: 14px;
}

.lure-wizard-promo {
  &p {
    line-height: $lineHeight;
  }
}

.popular-pages-container,
.related-pages-container,
.lure-wizard-promo {
  background-color: $white;
  border-bottom: 1px solid $silver;

  h2,
  h4 {
    display: block;
    text-align: left;
  }

  .popular-pages,
  .related-pages {
    display: flex;
    @include mobile {
      flex-wrap: wrap;
    }
    justify-content: space-evenly;

    .popular-page,
    .related-page {
      margin: 6px;
      min-width: 212px;
      width: 100%;
      padding: 0 8px 8px;
      background-color: $whiteLightGray;
      border-radius: 8px;

      h3 {
        text-align: center;
        line-height: normal;
      }

      p {
        line-height: $lineHeight;
      }

      a:hover {
        text-decoration: underline;
        color: $copperRed;
      }
    }
  }
}

.posts > .post,
.videos > .video {
  padding-bottom: 2em;
  border-bottom: 1px solid $silver;
}

.posts > .post:last-child,
.video > .video:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.posts,
.videos {
  .post,
  .video {
    .date {
      margin: -5px 0 10px;
    }
  }
}

.post,
.video {
  color: $secondaryFontColor;
  line-height: $lineHeight;

  h1 {
    margin-bottom: 0;
  }

  .read-more {
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    color: $secondaryFontColor;

    &:hover {
      color: $copperRed;
    }
  }

  .gallery {
    display: inline-block;
    .gallery-item {
      float: left;
      margin: 5px;
    }
  }
}

.inline-image-left {
  float: left;
  margin: 0 15px 8px 0;
}

.page {
  .author-profile {
    min-height: 250px;
  }
}

ul.tag-list {
  li {
    padding: 4px 0 4px 0;
    a {
      color: $primaryFontColor;
      .tag {
        text-decoration: underline;
      }
      .badge {
        background: $postTagBgColor;
        border-radius: 3.75em;
        display: inline-block;
        font-size: 0.75em;
        font-weight: 600;
        line-height: 1;
        padding: 0.4em 1.2em;
      }
    }
  }
}

.google-map,
.youtube-video {
  position: relative;
  padding-bottom: 75%;
  margin-top: 12px;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

div.comparison-table {
  border: solid $spaceCadet 1px;
  margin-top: 20px;

  span {
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    color: $white;

    &.primary {
      background-color: $spaceCadet;
    }
    &.secondary {
      background-color: $carolinaBlue;
    }
    &.tertiary {
      background-color: $oliveDrab;
    }
    &.quaternary {
      background-color: $copperRed;
    }
  }
  .row {
    display: flex;
    flex-direction: row;

    &:nth-child(odd) {
      background-color: $whiteLightGray;
    }
    div {
      text-align: center;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.head {
        flex-basis: 30%;
        font-weight: bold;
        border-right: solid $silver 1px;
        border-bottom: solid $silver 1px;
      }
      &.data {
        flex-basis: 70%;
        border-bottom: solid $silver 1px;
        ul {
          text-align: left;
        }
        img {
          width: auto;
        }
      }
    }
  }
}

table {
  color: $primaryFontColor;

  &.feature-comparison-table,
  &.lure-list {
    width: 67%;
    @include mobile {
      width: 100%;
    }

    th {
      font-weight: 600;
    }
    th,
    td {
      padding: 0.8em;
    }
  }
  &.feature-comparison-table {

    th {
      border-bottom: 1px solid $silver;
    }
    tr:nth-child(even) {
      background-color: $lightGray;
    }
  }
  &.lure-list {
    color: $secondaryFontColor;
    border-color: $primaryColorDark;

    th {
      border: none;
    }
  }
}

.catch {
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $silver;
    td {
      border: 1px solid $silver;
      padding: 0.8em;
      display: table-cell;
    }
    td.label {
      color: inherit;
      text-align: left;
      line-height: 14.7px;
    }
  }
}

#comments {
  margin-top: 10px;
  border-top: 1px solid $silver;

  input,
  textarea {
    margin: 2px 6px 6px 0;
    border: 1px solid $silver;
    border-radius: 6px;
  }
  input {
    min-width: 33%;
  }
  textarea {
    min-height: $lineHeight * 5;
    min-width: 50%;
  }
  .comment-block {
    border: 1px solid $silver;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    .comment-text {
      padding: 5px;
    }
    .comment-meta {
      margin-top: 3px;
      font-style: italic;
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid $silver;
  border-bottom: 1px solid $silver;
  background-color: $lightGray;

  .container {
    margin: auto;
  }
}

footer {
  padding: 20px 0;
  text-align: center;

  .affiliate-disclaimer {
    font-size: small;
  }
}

@import "svg-icons";
