{% if site.comments.enabled %}
<div id="comments">

    <!-- Form Name -->
    <h3>Comments</h3>
    <form class="form-horizontal" method="POST" action="{{ site.comments.form_action }}">
        <input name="options[redirect]" type="hidden" value="{{ site.url }}/{{ page.slug }}">
        <input name="options[slug]" type="hidden" value="{{ page.slug }}">
        <fieldset>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fields[name]">Name</label>
                <div class="col-md-5">
                    <input id="fields[name]" name="fields[name]" type="text" placeholder="Your Name" class="form-control input-md" required="">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fields[email]">Email</label>
                <div class="col-md-5">
                    <input id="fields[email]" name="fields[email]" type="text" placeholder="Your Email" class="form-control input-md">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="fields[message]">Message</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="fields[message]" name="fields[message]"></textarea>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary">Send</button>
                </div>
            </div>

        </fieldset>
    </form>
    {% for comment in site.data.comments[page.slug] %}
    <div class="comment-block">
        <div class="comment-text">{{ comment[1].message }}</div>
        <div class="comment-meta">&mdash; {{ comment[1].name }} on {{ comment[1].date | date: '%B %d, %Y' }}</div>
    </div>
    {% endfor %}
</div>
{% endif %}
