<figure {%- if include.className %} class="{{ include.className }}"{% endif %}>
{%- assign image_path = include.img.path %}
    <a href="{{ image_path }}">
        <img src="{{ image_path }}" alt="{{ include.img.alt }}"
            {%- if include.img.title %} title="{{ include.img.title }}" {%- endif %}
            {%- if include.img.width %} width="{{ include.img.width }}" {%- endif %}
            {%- if include.img.height %} height="{{ include.img.height }}" {%- endif %} />
    </a>
    {%- if include.img.credit %}
    <figcaption class="image-credit">{{ include.img.credit }}</figcaption>
    {%- elsif include.img.caption %}
    <figcaption>{{ include.img.caption }}</figcaption>
    {%- else %}
    <figcaption>{{ include.img.alt }}</figcaption>
    {%- endif %}
</figure>