<div class="related-pages-container">
<h4>You May Also Like</h4>

<div class="related-pages">
{% assign maxRelated = 3 %}
{% assign minCommonTags =  page.relatedMinCommonTags | default: 1 %}
{% assign maxRelatedCounter = 0 %}
{% assign all_pages = site.posts | concat: site.pages | concat: site.maps | concat: site.videos %}

  {% for _page in all_pages %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in _page.tags %}
      {% if _page.url != page.url %}
        {% if page.related %}
          {% if page.related contains _page.url %}
          {% assign sameTagCount = 999999 %}
          {% capture tagmarkup %} <span class="label label-default post-tag"><i class="fas fa-tag"></i> {{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
          {% endif %}

        {% elsif page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default post-tag"><i class="fas fa-tag"></i> {{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      <div class="related-page">
        <h5><a href="{{ site.baseurl }}{{ _page.url }}">{{ _page.title }}</a>
          <div class="post-tags">{{ commonTags }}</div>
        </h5>

        {{ _page.description | default: _page.excerpt }}
      </div>
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}

</div>
</div>
