//
// VARIABLES
//

// Colors
$blue: #4183c4;
$carolinaBlue: #00a3dd;
$copperRed: #d66f49;
$spaceCadet: #132554;
$oliveDrab: #473916;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$grayDarkGray: #555;
$gray: #666;
$grayLightGray: #999;
$silver: #c0c0c0;
$lightGray: #eee;
$whiteLightGray: #f0f0f0;
$white: #fff;

// Other colors
$yellow: #ff0;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin gt-mobile {
  @media screen and (min-width: 641px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin gt-tablet {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin lt-laptop {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin touch-device {
  @media (hover: none) {
    @content;
  }
}

$pageBgColor: $whiteLightGray;

$primaryColor: $grayDarkGray;
$primaryColorDark: $spaceCadet;
$primaryColorLight: $carolinaBlue;
$primaryFontColor: $darkGray;

$secondaryFontColor: $primaryColorDark;
$secondaryLightBgColor: rgba(106,159,181,0.15);

$accentColor: $copperRed;

$postTagFontColor: $primaryColorLight;
$postTagBgColor: $secondaryLightBgColor;

$skinnyBorderColor: $silver;

$mainNavHeight: 52px;
$mainNavBgColor: $primaryColorDark;
$mainNavMobileWidth: 300px;
$mainNavMobileTopPadding: 12px;
$mainNavMobileSidePadding: 30px;

$maxPageWidth: 960px;
$maxContentWidth: 660px;
$fontSize: 11pt;
$lineHeight: $fontSize * 1.4;