
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$grayDarkGray: #555;
$gray: #666;
$grayLightGray: #999;
$lightGray: #eee;
$whiteLightGray: #f0f0f0;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin gt-mobile {
  @media screen and (min-width: 641px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin gt-tablet {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin touch-device {
  @media (hover: none) {
    @content;
  }
}

$primaryColor: $grayDarkGray;
$primaryColorDark: #132554;
$primaryColorLight: #00A3DD;
$primaryFontColor: $darkGray;

$secondaryFontColor: $primaryColorDark;
$secondaryLightBgColor: rgba(106,159,181,0.15);

$postTagFontColor: $primaryColorLight;
$postTagBgColor: $secondaryLightBgColor;

$mainNavHeight: 52px;
$mainNavBgColor: $primaryColorDark;
$mainNavMobileWidth: 300px;
$mainNavMobileTopPadding: 12px;
$mainNavMobileSidePadding: 30px;
