<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include meta.html %}
    {% include hotjar.html %}
    {% include analytics.html %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" async></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?{{ site.time | date: '%s%N' }}" />

    <link defer href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous" rel="stylesheet" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.title | remove: ' ' }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="shortcut icon" href="/images/favicon-64.ico" type="image/x-icon" />
  </head>

  <body>
    <nav id="wrapper-main-nav" role="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-logo"><a href="{{ site.baseurl }}/"><img src="/images/logo/default-long-transparent.svg" class="nav-logo" alt="{{ site.title }} logo" /></a></div>

        <ul id="menu" class="menu">
          {% for navlink in site.navlinks %}
            <li class="menu-item {% if navlink.subnav %}has-sub{% endif %} {{ navlink.className }}">
              <a href="{{ navlink.url }}" {% if navlink.target %}target="{{ navlink.target }}"{% endif %} title="{{ navlink.text }}">{{ navlink.text }}</a>
          {% if navlink.subnav %}
              <input type="checkbox" />
              <ul class="menu submenu">
            {% for subnavlink in navlink.subnav %}
                <li class="menu-item"><a href="{{ subnavlink.url }}" title="{{ subnavlink.text }}">{{ subnavlink.text }}</a></li>
            {% endfor %}
              </ul>
          {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="wrapper-masthead">
      <div class="container">
        {% include signup_form.html %}
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div id="main-content">
      {{ content }}
      </div>
      <div id="sidebar-right">
      {% include ads/sidebar-right.html %}
      </div>
      {% if page.tags.size > 0 %}
      {% include related-pages.html %}
      {% endif %}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include popup_signup_form.html %}
    {% include cookiebot.html %}
  </body>
</html>
