<!DOCTYPE html>
<html lang="en-us">
  <head>
    {%- if site.github.pages_env == "production" -%}
      {% assign assets_version = site.time | date: '%s%N' %}
    {%- else -%}
      {% assign assets_version = site.github.pages_env %}
    {%- endif %}
    {% include impact-site-verification.md %}
    {% include cookiebot.html %}
    {% include meta.html %}
    {% include hotjar.html %}
    {% include analytics.html %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" async></script>
    <![endif]-->

    <link rel="preload" href="https://use.fontawesome.com/releases/v5.1.1/webfonts/fa-solid-900.woff2" as="font"
      type="font/woff2" crossorigin />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?{{ assets_version }}" />
    <script src="https://kit.fontawesome.com/5b2de91db5.js" crossorigin="anonymous" async></script>

    <link rel="alternate" type="application/rss+xml" title="{{ site.title | remove: ' ' }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="shortcut icon" href="/assets/img/favicon-192.ico" type="image/x-icon" />
    {% include ads/google-ads-meta.html %}
    {% unless site.github.pages_env == "production" -%}
    <style>
      ins {
        border: 1px solid red;
      }
    </style>
    {%- endunless %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/lure-picker.min.css?{{ assets_version }}" />
    <script src="{{ site.baseurl }}/assets/js/lure-picker.min.js?{{ assets_version }}" async></script>
    {% feed_meta %}
  </head>

  <body>
    {% include analytics-body.html %}
    <nav id="wrapper-main-nav">
      <div id="menuToggle">
        <input type="checkbox" />
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-logo"><a href="{{ site.baseurl }}/"><img src="/assets/img/logo/default-long-transparent.svg" class="nav-logo" alt="{{ site.title }} logo" height="40" width="194" /></a></div>

        <ul id="menu" class="menu">
          {% for navlink in site.navlinks %}
            <li class="menu-item {% if navlink.subnav %}has-sub{% endif %} {{ navlink.className }}">
              <a href="{{ navlink.url }}" {% if navlink.target %}target="{{ navlink.target }}"{% endif %} title="{{ navlink.text }}">{{ navlink.text }}</a>
          {% if navlink.subnav %}
              <input type="checkbox" />
              <ul class="menu submenu">
            {% for subnavlink in navlink.subnav %}
                <li class="menu-item"><a href="{{ subnavlink.url }}" title="{{ subnavlink.text }}">{{ subnavlink.text }}</a></li>
            {% endfor %}
              </ul>
          {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="wrapper-masthead">
      <div class="container">
        {% include signup_form.html %}
      </div>
    </div>

    <div id="main" role="main" class="container">
      <div id="main-content">
      {{ content }}
      </div>
      <div id="sidebar-right">
      {% include ads/sidebar-right.html %}
      </div>
      {% if page.tags.size > 0 %}
      {% include related-pages.md %}
      {% endif %}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include disclaimer.md %}
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include popup_signup_form.html %}
  </body>
</html>
