---
layout: default
seo:
  type: 'BlogPosting'
---

<article class="post">
  <h1>{{ page.title }}</h1>
  {% if page.image %}
  <img src="/images/{{ page.image }}" alt="{{ page.image_alt }}" />
    {% if page.image_credit %}
  <div class="image-credit">{{ page.image_credit }}</div>
    {% endif %}
  {% endif %}
  <div class="entry">
    {{ content }}
  </div>
  {% include post_tags.html post_tags=page.tags %}
  {% include catches.html %}
  {% include ads/inline-content.html %}
  {% include comments.html %}
</article>
