<div class="inline-content-ads">
{% include ads/lucky-tackle-box.html %}
{% include ads/fishbrain.md mobile=true %}
{% if site.ads.adsense.slots.responsive_square %}
<div class="inline-content-ad mobile">
    <!-- Responsive Square -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="{{ site.ads.adsense.client }}"
        data-ad-slot="{{ site.ads.adsense.slots.responsive_square }}" data-ad-format="auto" {% if site.github.pages_env != "production" %}data-adtest="on" {% endif %} data-full-width-responsive="true"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
{% endif %}
{% if site.ads.adsense.slots.responsive_horizontal %}
<div class="inline-content-ad gt-mobile">
    <!-- Responsive Square -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="{{ site.ads.adsense.client }}"
        data-ad-slot="{{ site.ads.adsense.slots.responsive_horizontal }}" data-ad-format="auto" {% if site.github.pages_env != "production" %}data-adtest="on" {% endif %} data-full-width-responsive="true"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
{% endif %}
</div>
