{% if site.ads.adsense.slots.inline_content %}
    <div class="inline-content-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
           data-ad-format="fluid"
           data-ad-layout="image-side"
           data-ad-layout-key="-fd+2z+es-b8-jk"
           data-ad-client="{{ site.ads.adsense.client }}"
           data-ad-slot="{{ site.ads.adsense.slots.inline_content }}"></ins>
        <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
{% endif %}
