{% if false %}
<div id="ad-mb" class="ad custom mb">
<!-- START ADVERTISER: MONSTERBASS from ShareASale -->
{% if include.mobile %}
{% comment %} Small Boxy Ad {% endcomment %}
    <a href="https://shareasale.com/r.cfm?b=2123483&u=3296816&m=111304&urllink=&afftrack=afa-inline">
        <img src="/assets/img/ads/monsterbass/254bf611-a9b7-453e-af1e-377f74a1179b.jpeg" alt="MONSTERBASS Box Referral" />
    </a>
{% else %}
{% comment %} Skyscraper Ad {% endcomment %}
    <a href="https://shareasale.com/r.cfm?b=2123483&u=3296816&m=111304&urllink=&afftrack=afa-sidebar">
        <img src="/assets/img/ads/monsterbass/8124e99b-221a-4343-968f-8de09a1cdb11.jpeg" alt="MONSTERBASS Box Referral" />
    </a>
{% endif %}
<!-- END ADVERTISER: MONSTERBASS from ShareASale -->
</div>
{% endif %}