{% include ads/fishbrain.md mobile=false  %}
{% include ads/lucky-tackle-box.html %}
{% if site.ads.adsense.slots.side_large_skyscraper %}
      <div id="sidebar-right-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Side Large Skyscraper -->
          <ins class="adsbygoogle"
            data-ad-client="{{ site.ads.adsense.client }}"
            data-ad-slot="{{ site.ads.adsense.slots.side_large_skyscraper }}"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
{% endif %}
