<div id="sidebar-right">
    <div id="ad-ltb" class="ad custom">
        <a href="http://luckytacklebox.refr.cc/danschaeferfishound">
	    <img src="/images/ads/44181091_23843016561520366_5467105871563587584_n.png.jpg" alt="Lucky Tackle Box Referral" />
	    <div class="title">Get $5 off Lucky Tackle Box</div>
	    <div class="description">You'll love Lucky Tackle Box. A box stuffed with the best baits.</div>
	</a>
    </div>
{% if site.ads.adsense.slots.side_large_skyscraper %}
      <div id="sidebar-right-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Side Large Skyscraper -->
          <ins class="adsbygoogle"
            data-ad-client="{{ site.ads.adsense.client }}"
            data-ad-slot="{{ site.ads.adsense.slots.side_large_skyscraper }}"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
{% endif %}
</div>
